body {
    background-color: #101010;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Poppins", sans serif;
    width: 800px;
    position: relative;
    left: 350px;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.menu ul li {
    float: left;
    width: 200px;
    background-color: rgba(0,0,0, 0.1);
    line-height: 40px;
    text-align: center;
    font-size: 12pt;
}

.menu ul li a{
    text-decoration: none;
    color: #07e6f5;
    display: block;
}

.menu ul li a:hover{
    text-decoration: none;
    color: #ff0077;
    display: block;
    background-color: rgba(0,0,0, 0.3);
}

.menu ul li ul li{
    display: none;
}

.menu ul li ul li:hover{
    display: none;
    background-color: rgba(8, 5, 85, 0);
}

.menu ul li:hover ul li{
    display: block;
}

.menu li a:visited {
    color: #07e6f5;
}

.selfie {
    width: 200px;
    position: relative;
    left: 325px;
    box-shadow: 1pt 2.5pt 3pt black;
}

.img-feed {
    width: 500px;
    position: relative;
    left: 120px;
    margin-bottom: 20px;
}

.img-caption-feed {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 10pt;
    font-style: italic;
}

.title {
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.title h2 {
    font-weight: 700;
    font-size: 24pt;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 50px;
}

.content {
    margin-bottom: 50px;
}

.content h1 {
    text-align: center;
    font-weight: 700;
    font-size: 18pt;
}

.date {
    font-size: 10pt;
    position: relative;
    left: 735px;
}

.content p, ul {
    text-align: justify;
}

.list-title {
    color: #ff0077;
}

.footer {
    text-align: center;
    font-style: italic;
}

a:link {
    color: #07e6f5;
    text-decoration: none;
}

a:visited {
    color: #07e6f5;
}

a:hover {
    color: #ff0077;