body {
    background-color: #101010;
    color: white;
    font-family: "Poppins", sans serif;
    width: 600px;
    position: relative;
    left: 450px;
}

.menu {
    text-align: center;
    box-shadow: 1pt 2.5pt 3pt black;
    height: 30px;
    color: #07e6f5;
}

.menu span {
    font-size: 12pt;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu span:hover {
    background-color: darkblue;
}

.menu a:link {
    color: #07e6f5;
    text-decoration: none;
}

.menu a:visited {
    color: #07e6f5;
}

.menu a:hover {
    background-color: darkblue;
}

.intro {
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.title {
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-bottom: 30px;
}

.selfie {
    width: 150px;
    position: relative;
    left: 230px;
    box-shadow: 1pt 2.5pt 3pt black;
}

.img-feed {
    width: 500px;
    position: relative;
    left: 15px;
    margin-bottom: 20px;
}

.img-caption-feed {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 10pt;
    font-style: italic;
}

.date {
    font-size: 10pt;
    position: relative;
    left: 525px;
}

.content {
    margin-bottom: 50px;
}

.content h1 {
    text-align: center;
    font-weight: 700;
    font-size: 18pt;
}

.title h2 {
    font-weight: 200;
    font-size: 24pt;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 50px;
}

.content p, ul {
    text-align: justify;
}

.list-title {
    color: #ff0077;
}

.footer {
    text-align: center;
    font-style: italic;
}

a:link {
    color: #07e6f5;
    text-decoration: none;
}

a:visited {
    color: #07e6f5;
}

a:hover {
    color: #ff0077;